.container {
  max-width: 80rem;
}

pre.code {
  margin-top: 1rem;
  font-size: 14px;
}

body {
  padding-top: 4rem;
}

.react-tagged--tags {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.react-tagged--tags.react-tagged--reveresed .react-tagged--tags-input-wrapper {
  margin-right: 0;
}

.react-tagged--tag {
  margin-right: 10px;
  border-radius: 5px;
  padding: 0 5px;
  background: #c70039;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
}
.react-tagged--tag button {
  color: white;
  background-color: transparent;
  border: 0;
  display: inline;
  width: auto;
  padding: 0;
  margin: 0 0 0 3px;
}

input[type=text].react-tagged--input {
  height: 100%;
  margin-bottom: 0;
  padding: 3px 10px;
  width: 100%;
  font-size: 14px;
  border: 0;
}

.react-tagged--tags-input-wrapper {
  border-radius: 5px;
  position: relative;
  width: 110px;
  height: 26px;
  transition: box-shadow 0.2s ease-in;
  border: 1px dashed #aaa;
  margin-right: 10px;
}
.react-tagged--tags-input-wrapper.with-suggestions {
  box-shadow: 0 3px 5px rgba(71, 80, 89, 0.15);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #aaa;
}

.react-tagged--tags-suggestions {
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  background: white;
  z-index: 100;
  border-top: 0;
  overflow-x: hidden;
  box-shadow: 0 3px 5px rgba(71, 80, 89, 0.15);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #aaa;
  border-top: 0;
}

.react-tagged--tags-suggestions-item {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.react-tagged--tags-suggestions-item:hover, .react-tagged--tags-suggestions-item.selected {
  background: #f1f1f1;
}

.react-tagged--tag-enter {
  transition: max-width 0.2s ease-out;
  max-width: 0;
}
.react-tagged--tag-enter.react-tagged--tag-enter-active {
  max-width: 200px;
}

.react-tagged--tag-leave {
  transition: max-width 0.2s ease-out;
  max-width: 200px;
}
.react-tagged--tag-leave.react-tagged--tag-leave-active {
  max-width: 0;
}