$tag-bg: #c70039;
$font-size: 12px;

.react-tagged--tags {
  display: flex;
  position: relative;
}
.react-tagged--tag {
  margin-right: 10px;
  border-radius: 5px;
  padding: 0 5px;
  background: $tag-bg;
  color: white;
  font-weight: bold;
  font-size: $font-size;
  display: flex;
  vertical-align: middle;
  align-items: center;
  a {
    color: white;
    margin-left: 3px;
  }
}
input[type="text"].react-tagged--input {
  height: 26px;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 3px 10px;
  width: 100%;
  border: 1px dashed #aaa;
  font-size: $font-size;
}
.react-tagged--tags-input-wrapper {
  position: relative;
  width: 110px;
}
.react-tagged--tags-suggestions {
  position: absolute;
  background: white;
  z-index: 100;
  border: 1px solid #ccc;
  width: 120px;
  border-top: 0;
  overflow-x: hidden;
}
.react-tagged--tags-suggestions-item {
  padding: 5px 10px;
  font-size: $font-size;
  cursor: pointer;
  &:hover {
    background: #f1f1f1;
  }
}
